/* =========== Reset Css Start =========== */
* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    background-color: #ffffff;
}

ul {
    list-style: none;
}

a,
a:hover {
    text-decoration: none;
}

img {
    max-width: 100%;
}

/* =========== Reset Css End =========== */

/* =========== Common Css Start =========== */
.container {
    width: 1320px;
    margin: 0 auto;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.items-center {
    align-items: center;
}

.primary-btn {
    padding: 12px 24px;
    background-color: #1D4ED8;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    text-transform: capitalize;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color .3s;
}

.primary-btn:hover {
    background-color: #163ba0;
}

/* =========== Common Css End =========== */

/* =========== Nav Css Start =========== */
#nav {
    background-color: #ffffff;
    position: sticky;
    top: 0;
    padding: 24px 0;
}

#nav .nav-menu ul li a {
    display: inline-block;
    font-family: "Arimo", sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-transform: capitalize;
    padding: 12px 12px;
    color: #575757;
    transition: color .2s;
}

#nav .nav-menu ul li a:hover {
    color: #1D4ED8;
}

/* =========== Nav Css End =========== */

/* =========== Hero Section Css Start =========== */
#hero {
    background-image: url('./../images/banner.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
}

#hero::after {
    position: absolute;
    content: '';
    width: 50%;
    height: 100%;
    left: 0;
    top: 0;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    z-index: -1;
}

#hero .container{
    min-height: 90vh;
    padding: 60px 0;
    flex-direction: column;
}

#hero .hero-content{
    margin-top: 80px;
    text-align: center;
    color: #ffffff;
    max-width: 70%;
}

#hero .hero-content h1{
    font-size: 80px;
    font-weight: 700;
    margin-bottom: 16px;
}

#hero .hero-content h1 span{
    font-style: italic;
}

#hero .hero-content p{
    padding: 0 20px;
    font-size: 22px;
    line-height: 1.4;
}

#hero .hero-cta .primary-btn{
    font-size: 24px;
}
/* =========== Hero Section Css End =========== */